<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Most affordable health & fitness supplements">
    <meta name="keywords" content="Protein, Pre workout, Mass gainer, supplements, delhi, noida, gurugram, gym">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Most Affordable Health Supplements</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <style>
        .fixed-top{
            background-color: white;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="fixed-top header-section ">
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <div class="logo">
                            <a href="/">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form method="GET" action='/search'>

                            <div class="advanced-search d-flex flex-row">
                                <div class="input-group">
                                    <form>
                                    <input type="text" name="searchquery" placeholder="What do you need?">
                                </div>
                                <div class="input-group">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    
                <%    if(inCartProducts){ %>

                    <div class="col-lg-2 text-right col-md-2">
                        <ul class="nav-right">
                            <!-- <li class="heart-icon"><a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span>1</span>
                                </a>
                            </li> -->
                            <li class="cart-icon"><a href="#">View Card
                                    <i class="icon_bag_alt"></i>
                                    <!-- <span>3</span> -->
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                <%inCartProducts.forEach(function(product){ %>

                                                <tr>
                                                    <td class="si-pic"><img src="/uploads/<%=product.item.image_path%>" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p><%=product.item.discounted_price%> x <%=product.qty%></p>
                                                            <h6><%=product.item.product_name%></h6>
                                                        </div>
                                                    </td>
                                                    <!-- <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td> -->
                                                </tr>

                                <%   }); %>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5><%=totalPrice%></h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="/shopping-cart" class="primary-btn view-card">VIEW CART</a>
                                        <a href="/checkout" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <% } %>

                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            
                            <li class="cart-icon">
                                <a href="/shopping-cart">Shopping Cart
                                    <i class="fa fa-shopping-cart"></i>
                                   <% if(!((session==undefined)|| (session.cart==undefined))){ %>
                                    <span class="badge"><%=session.cart.totalQty%> </span>
                                   <% }%>
                                    <!--may be ignored for a while
                                    <span>3</span>
                                -->
                                </a>
                            </li>
                      <%      if(user){ %>
                                <li><a href="/user/logout" class="login-panel">Logout</a></li>
                        <%    }else{    %>
                            <li><a href="/user/signin" class="login-panel"><i class="fa fa-user mr-1"></i>Login</a></li>
                          <%  } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li  ><a href="/all-products">All Products</a></li>
                        <li><a href="/#brandsection">Brands</a></li>
                        <li><a href="/#prodsection">Supplements</a></li>
                        <li><a href="/contact">Contact Us</a>
                            <!--
                            <ul class="dropdown">
                                <li><a href="#">Men</a></li>
                            </ul>
                        -->
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->


    <!-- Breadcrumb Section Begin -->
    <div id="hero-banner" class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Map Section Begin -->
    <!--
    <div class="map spad">
        <div class="container">
            <div class="map-inner">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
                    height="610" style="border:0" allowfullscreen="">
                </iframe>
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>
-->
    <!-- Map Section Begin -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Contacts Us</h4>
                        <p>We're here for all your doubts & queries regarding health & fitness supplements.</p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>Address:</span>
                                <p>Balaji Plaza, Gujranwala Town Part 1, Delhi 110052</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Phone:</span>
                                <p>+91 98111 49277</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p>rainbowcolorshealth@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4>Write to us</h4>
                            <p>Our staff will get back to you as soon as possible.</p>
                            <form action="/contact" method="POST" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="name" placeholder="Your name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" name="email" placeholder="Your email">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="number" placeholder="Your contact number">
                                    </div>
                                    <div class="col-lg-12">
                                        <input name="message" placeholder="Your message"></input>
                                        <button type="submit" class="site-btn">Send message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="/img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Balaji Plaza, Gujranwala Town Part 1, Delhi 110052</li>
                            <li>Phone: +91 98111 49277</li>
                            <li>Email: rainbowcolorshealth@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="/all-products">All Products</a></li>
                            <li><a href="#brandsection">Brands</a></li>
                            <li><a href="#prodsection">Supplements</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="/user/profile">Profile</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/shopping-cart">Shopping Cart</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get updates about our latest products and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
  $("#hero-banner").css("margin-top", $("header").height());
});
    </script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery.dd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>