<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Most affordable health & fitness supplements">
    <meta name="keywords" content="Protein, Pre workout, Mass gainer, supplements, delhi, noida, gurugram, gym">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Most Affordable Health Supplements</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search d-flex flex-row">
                            <div class="input-group">
                                <input type="text" placeholder="What do you need?">
                            </div>
                            <div class="input-group">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="heart-icon">
                                <a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <!--may be ignored for a while
                                    <span>1</span>
                                -->
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                	<!--may be ignored for a while
                                    <span>3</span>
                                -->
                                </a>
                            </li>
                            <li><a href="#" class="login-panel"><i class="fa fa-user mr-1"></i>Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Home</a></li>
                        <li><a href="./shop.html">All Products</a></li>
                        <li><a href="#brandsection">Brands</a></li>
                        <li><a href="#prodsection">Supplements</a></li>
                        <li><a href="./contact.html">Contact Us</a>
                            <!--
                            <ul class="dropdown">
                                <li><a href="#">Men</a></li>
                            </ul>
                        -->
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="img/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>PROsTEINs</span>
                            <h1>PURE</h1>
                            <p>Super absorption & high protsein content. The gold league brands are here!</p>
                            <a href="shop.html" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>40%</span></h2>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="img/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>NEW IN STORE</span>
                            <h1>DEALS</h1>
                            <p>Find exciting deals and amazing new products & new flavours! Check them out now.</p>
                            <a href="shop.html" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="single-banner">
                        <img src="img/banner-1.jpg" alt="">
                        <div class="inner-text">
                            <h4>Men’s</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="single-banner">
                        <img src="img/banner-2.jpg" alt="">
                        <div class="inner-text">
                            <h4>Women’s</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="single-banner">
                        <img src="img/banner-3.jpg" alt="">
                        <div class="inner-text">
                            <h4>Kid’s</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="single-banner">
                        <img src="img/banner-3.jpg" alt="">
                        <div class="inner-text">
                            <h4>Kid’s</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->
    <% var brands=JSON.parse(data).brands;%>
    <% var categories=JSON.parse(data).categories;%>
    <% var products=JSON.parse(data).products;%>

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad" id="brandsection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="img/products/women-large.jpg">
                        <h2>BRANDS</h2>
                        <a href="shop.html">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="filter-control">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <% var i=0;%>
                            <%brands.forEach(function(brand){ %>
                            <%    if(i==0){ %>
                                <li><a class="nav-link active" id="home-tab<%=brand.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>" data-toggle="tab" href="#<%=brand.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>"><%=brand.name%></a></li>
                               
                           <% }else{ %>
                                <li><a class="nav-link" id="home-tab<%=brand.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>" data-toggle="tab" href="#<%=brand.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>"><%=brand.name%></a></li>

                            <%    }     %>

                                <%  i++; }); %>

                        </ul>
                    </div>
            		<div class="tab-content" id="myTabContent">
                        <% var i=0;%>
                     <%   for(var j=0;j<brands.length;j++){%>
                        <%    if(i==0){ %>

					  <div class="tab-pane fade show active" id="<%=brands[j].name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, "_")%>" role="tabpanel" aria-labelledby="home-tab<%=brands[j].name%>">
                       <div class="container">
            				<div class="row">
                                <!--Product starts here-->
                                
                                <%brands[j].products.forEach(function(product){ %>

            					<div class="product-item col-md-3">
		                            <div class="pi-pic">
		                                <img src="/uploads/<%=product.image_path%>" alt="">
		                                <!-- sale should be kept optional & appear if only there's a discount as mentioned in the product-price below-->
		                                <div class="sale">SALE</div>
		                                <div class="icon">
		                                	<!--puts the product in user's liked list-->
		                                    <i class="icon_heart_alt"></i>
		                                </div>
		                                <ul>
		                                	<!--add to cart button-->
		                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
		                                    <!--Takes user directly to checkout with this product in cart-->
		                                    <li class="quick-view"><a href="#">+ Quick Buy</a></li>
		                                </ul>
		                            </div>
		                            <div class="pi-text">
		                            	<!--this is product category-->
		                                <div class="catagory-name"><%=product.category%></div>
		                                <!--enter link to individual product page, check product.html-->
		                                <a href="/product/<%=product._id%>">
		                                    <h5><%=product.product_name%></h5>
		                                </a>
		                                <!--this is product-price, the first price is the discounted one and the second one, that's inside <span>, is displayed with a slash on page-->
		                                <div class="product-price">
		                                    ₹<%=product.discounted_price%>
		                                    <span>₹<%=product.original_price%></span>
		                                </div>
		                            </div>
                                </div>
                                <!-- Product end -->
                                <%   }); %>
            				</div>
            			</div>
                      </div>
                      <% i++;}else{ %>
                        <div class="tab-pane fade " id="<%=brands[j].name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, "_")%>" role="tabpanel" aria-labelledby="home-tab<%=brands[j].name%>">
                            <div class="container">
                                 <div class="row">
                                     <!--Product starts here-->
                                     
                                     <%brands[j].products.forEach(function(product){ %>
     
                                     <div class="product-item col-md-3">
                                         <div class="pi-pic">
                                             <img src="/uploads/<%=product.image_path%>" alt="">
                                             <!-- sale should be kept optional & appear if only there's a discount as mentioned in the product-price below-->
                                             <div class="sale">SALE</div>
                                             <div class="icon">
                                                 <!--puts the product in user's liked list-->
                                                 <i class="icon_heart_alt"></i>
                                             </div>
                                             <ul>
                                                 <!--add to cart button-->
                                                 <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                 <!--Takes user directly to checkout with this product in cart-->
                                                 <li class="quick-view"><a href="#">+ Quick Buy</a></li>
                                             </ul>
                                         </div>
                                         <div class="pi-text">
                                             <!--this is product category-->
                                             <div class="catagory-name"><%=product.category%></div>
                                             <!--enter link to individual product page, check product.html-->
                                             <a href="/product/<%=product._id%>">
                                                 <h5><%=product.product_name%></h5>
                                             </a>
                                             <!--this is product-price, the first price is the discounted one and the second one, that's inside <span>, is displayed with a slash on page-->
                                             <div class="product-price">
                                                 ₹<%=product.discounted_price%>
                                                 <span>₹<%=product.original_price%></span>
                                             </div>
                                         </div>
                                     </div>
                                     <!-- Product end -->
                                     <%   }); %>
                                 </div>
                             </div>
                           </div>
                           <%    }     %>

                      <% } %>

                      
					  <!-- <div class="tab-pane fade" id="brand2" role="tabpanel" aria-labelledby="profile-tab"></div> -->
					  <!-- <div class="tab-pane fade" id="brand3" role="tabpanel" aria-labelledby="contact-tab"></div> -->
					  <!-- <div class="tab-pane fade" id="brand4" role="tabpanel" aria-labelledby="contact-tab"></div> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section class="deal-of-week set-bg spad" data-setbg="img/time-bg.jpg">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Deal Of The Week</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                        consectetur adipisicing elit </p>
                    <div class="product-price">
                        35.00
                        <span>/ HanBag</span>
                    </div>
                </div>
                <a href="shop.html" class="primary-btn">Shop Now</a>
            </div>
        </div>
    </section>
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad" id="prodsection">
        <div class="container-fluid">
            <div class="row">
               <div class="col-lg-9">
                    <div class="filter-control">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <% var i=0;%>
                            <%categories.forEach(function(category){ %>
                            <%    if(i==0){ %>
                                <li><a class="nav-link active" id="home-tab<%=category.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>" data-toggle="tab" href="#<%=category.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>"><%=category.name%></a></li>
                               
                           <% }else{ %>
                                <li><a class="nav-link" id="home-tab<%=category.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>" data-toggle="tab" href="#<%=category.name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, '_')%>"><%=category.name%></a></li>

                            <%    }     %>

                                <%  i++; }); %>
                        </ul>
                    </div>
            		<div class="tab-content" id="myTabContent">
                        <% var i=0;%>
                     <%   for(var j=0;j<categories.length;j++){%>
                        <%    if(i==0){ %>
                    
                      <div class="tab-pane fade show active" id="<%=categories[j].name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, "_")%>" role="tabpanel" aria-labelledby="home-tab<%=categories[j].name%>">
                       <div class="container">
                            <div class="row">
                                <!--Product starts here-->
                                
                                <%categories[j].products.forEach(function(product){ %>
                    
                                <div class="product-item col-md-3">
                                    <div class="pi-pic">
                                        <img src="/uploads/<%=product.image_path%>" alt="">
                                        <!-- sale should be kept optional & appear if only there's a discount as mentioned in the product-price below-->
                                        <div class="sale">Sale</div>
                                        <div class="icon">
                                            <!--puts the product in user's liked list-->
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <!--add to cart button-->
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <!--Takes user directly to checkout with this product in cart-->
                                            <li class="quick-view"><a href="#">+ Quick Buy</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <!--this is product category-->
                                        <div class="catagory-name"><%=product.category%></div>
                                        <!--enter link to individual product page, check product.html-->
                                        <a href="/product/<%=product._id%>">
                                            <h5><%=product.product_name%></h5>
                                        </a>
                                        <!--this is product-price, the first price is the discounted one and the second one, that's inside <span>, is displayed with a slash on page-->
                                        <div class="product-price">
                                            ₹<%=product.discounted_price%>
                                            <span>₹<%=product.original_price%></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product end -->
                                <%   }); %>
                            </div>
                        </div>
                      </div>
                      <% i++;}else{ %>
                        <div class="tab-pane fade " id="<%=categories[j].name.replace(/ /g,'').replace(/[^A-Z0-9]/ig, "_")%>" role="tabpanel" aria-labelledby="home-tab<%=categories[j].name%>">
                            <div class="container">
                                 <div class="row">
                                     <!--Product starts here-->
                                     
                                     <%categories[j].products.forEach(function(product){ %>
                    
                                     <div class="product-item col-md-3">
                                         <div class="pi-pic">
                                             <img src="/uploads/<%=product.image_path%>" alt="">
                                             <!-- sale should be kept optional & appear if only there's a discount as mentioned in the product-price below-->
                                             <div class="sale">SALE</div>
                                             <div class="icon">
                                                 <!--puts the product in user's liked list-->
                                                 <i class="icon_heart_alt"></i>
                                             </div>
                                             <ul>
                                                 <!--add to cart button-->
                                                 <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                 <!--Takes user directly to checkout with this product in cart-->
                                                 <li class="quick-view"><a href="#">+ Quick Buy</a></li>
                                             </ul>
                                         </div>
                                         <div class="pi-text">
                                             <!--this is product category-->
                                             <div class="catagory-name"><%=product.category%></div>
                                             <!--enter link to individual product page, check product.html-->
                                             <a href="/product/<%=product._id%>">
                                                 <h5><%=product.product_name%></h5>
                                             </a>
                                             <!--this is product-price, the first price is the discounted one and the second one, that's inside <span>, is displayed with a slash on page-->
                                             <div class="product-price">
                                                 ₹<%=product.discounted_price%>
                                                 <span>₹<%=product.original_price%></span>
                                             </div>
                                         </div>
                                     </div>
                                     <!-- Product end -->
                                     <%   }); %>
                                 </div>
                             </div>
                           </div>
                           <%    }     %>
                    
                      <% } %>
                    
                      
                      <!-- <div class="tab-pane fade" id="brand2" role="tabpanel" aria-labelledby="profile-tab"></div> -->
                      <!-- <div class="tab-pane fade" id="brand3" role="tabpanel" aria-labelledby="contact-tab"></div> -->
                      <!-- <div class="tab-pane fade" id="brand4" role="tabpanel" aria-labelledby="contact-tab"></div> -->
                    </div>
				</div>
               <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="img/products/women-large.jpg">
                        <h2>PRODUCTS</h2>
                        <a href="shop.html">Discover More</a>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->


    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello.colorlib@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="shop.html">All Products</a></li>
                            <li><a href="#brandsection">Brands</a></li>
                            <li><a href="#prodsection">Supplements</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="#">Login/Logout</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get updates about our latest products and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery.dd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>